@import '../fonts.scss';

// baidu.com
body[domainuri='www.baidu.com'] {
    #wrapper,
    .c-wrapper,
    body,
    button,
    input,
    select,
    textarea,
    .c-font-normal,
    .c-font-medium,
    .c-font-middle,
    .c-font-big,
    .new-pmd .c-title,
    #container.sam_newgrid,
    span[class^='_paragraph'],
    span[class^='hint'],
    div[class^='c_font'],
    div[class^='op_dict'],
    div[class^='card_layout'],
    #page,
    #container.sam_newgrid td,
    #container.sam_newgrid th,
    #container.sam_newgrid .c-showurl,
    .new-pmd .cr-title,
    .wrapper_new #u .s-top-username {
        font-family: $serif-fonts !important;
    }

    .c-index-single {
        font-family: $narrow-fonts !important;
    }

    .s-ctner-menus .s-menu-item {
        font: 14px/24px $sans-fonts;
    }
}

// news.baidu.com
body[domainuri='news.baidu.com'] {
    body,
    #usrbar,
    #header-link-wrapper li a,
    #header-link-wrapper li span,
    .hotnews li:first-child strong a:link,
    .hotnews li:first-child strong a:active,
    .hotnews li:first-child strong a:visited,
    .hotnews li strong a:link,
    .hotnews li strong a:active,
    .hotnews li strong a:visited,
    .ulist .bold-item a,
    .mod-tab-content .mod-tab-pane,
    .mod-baijia .baijia-focus-list .bdlist,
    .col-mod .focuslistnews .bold-item,
    .l-right-col .ulist li,
    .focuslistnews li {
        font-family: $serif-fonts !important;
    }

    .mod-headline-tab {
        font-family: $sans-fonts !important;
    }
}

// mbd.baidu.com
// 百家号
body[domainuri='mbd.baidu.com'],
body[domainuri='baijiahao.baidu.com'] {
    body,
    button,
    input,
    select,
    textarea,
    #ssr-content *,
    div#header div,
    span[data-testid='author-name'],
    span[data-testid='updatetime'],
    div[data-testid='article'],
    div[data-testid='search-rec'] *,
    .xcp-publish-title,
    .user-bar-uname,
    .x-interact-rich-text,
    .interact-bar,
    div[data-testid='recent'] *,
    div[data-testid='relate'] *,
    ul[data-testid='top-list'] * {
        font-family: $serif-fonts !important;
    }

    .xcp-list-loader,
    .interact-desc * {
        font-family: $sans-fonts !important;
    }
}
