@import "../fonts.scss";

// smzdm.com
// 什么值得买
body[domainuri="www.smzdm.com"],
body[domainuri="post.smzdm.com"] {
  body,
  #global-nav,
  .ranking-list *,
  #feed-main-list *,
  .info *,
  .content *,
  .m-contant *,
  #articleId *,
  .category-box ul li {
    font-family: $serif-fonts !important;
  }

  button {
    font-family: $sans-fonts !important;
  }

  pre,
  code,
  .prompt {
    font-family: $code-fonts !important;
  }
}
