body[domainuri="www.smzdm.com"] body,
body[domainuri="www.smzdm.com"] .ranking-list *,
body[domainuri="www.smzdm.com"] #feed-main-list *,
body[domainuri="www.smzdm.com"] .info *,
body[domainuri="www.smzdm.com"] .content *,
body[domainuri="www.smzdm.com"] .m-contant *,
body[domainuri="www.smzdm.com"] #articleId *,
body[domainuri="post.smzdm.com"] body,
body[domainuri="post.smzdm.com"] .ranking-list *,
body[domainuri="post.smzdm.com"] #feed-main-list *,
body[domainuri="post.smzdm.com"] .info *,
body[domainuri="post.smzdm.com"] .content *,
body[domainuri="post.smzdm.com"] .m-contant *,
body[domainuri="post.smzdm.com"] #articleId * {
  font-family: "Crimson Pro", "Noto Serif SC", "Source Han Serif SC", "Microsoft YaHei UI", serif !important;
}
body[domainuri="www.smzdm.com"] button,
body[domainuri="post.smzdm.com"] button {
  font-family: "Lato", "Noto Serif SC", "Source Han Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
body[domainuri="www.smzdm.com"] pre,
body[domainuri="www.smzdm.com"] code,
body[domainuri="www.smzdm.com"] .prompt,
body[domainuri="post.smzdm.com"] pre,
body[domainuri="post.smzdm.com"] code,
body[domainuri="post.smzdm.com"] .prompt {
  font-family: "IBM Plex Mono", monospace !important;
}
