body[domainuri="www.zhihu.com"] body,
body[domainuri="www.zhihu.com"] .ContentItem-title,
body[domainuri="www.zhihu.com"] .AuthorInfo-content,
body[domainuri="www.zhihu.com"] .RichContent,
body[domainuri="www.zhihu.com"] .CommentContent {
  font-family: "Crimson Pro", "Noto Serif SC", "Source Han Serif SC", "Microsoft YaHei UI", serif !important;
}
body[domainuri="www.zhihu.com"] button {
  font-family: "Lato", "Noto Serif SC", "Source Han Serif SC", "Microsoft YaHei UI", sans-serif !important;
}
body[domainuri="www.zhihu.com"] pre,
body[domainuri="www.zhihu.com"] code,
body[domainuri="www.zhihu.com"] .prompt {
  font-family: "IBM Plex Mono", monospace !important;
}
