/*! fonts */
$serif-fonts: 'Crimson Text', 'Noto Serif SC', 'Source Han Serif SC', 'Microsoft YaHei UI', serif;
$sans-fonts: 'Google Sans', 'Noto Serif SC', 'Source Han Serif SC', 'Microsoft YaHei UI', sans-serif;

/*! baidu.com */
body[domainuri='www.baidu.com'] {

    #wrapper,
    body,
    button,
    input,
    select,
    textarea,
    .c-font-normal,
    .c-font-medium,
    .new-pmd .c-title,
    #container.sam_newgrid,
    span[class^="_paragraph"],
    span[class^="hint"],
    div[class^="c_font"],
    div[class^="op_dict"],
    #page,
    #container.sam_newgrid td,
    #container.sam_newgrid th,
    #container.sam_newgrid .c-showurl,
    .new-pmd .cr-title {
        font-family: $serif-fonts !important;
    }

    .c-index-single {
        font-family: $sans-fonts;
    }
}

/*! google.co.uk & google.com */
body[domainuri='www.google.co.uk'],
body[domainuri='www.google.cm'] {

    body,
    input,
    button,
    div,
    .gb_yd,
    .gb_Ed,
    input[value="Google Search"],
    input[type="submit"],
    textarea[title="Search"],
    textarea[aria-label="Search"],
    a.fl,
    .vmod span {
        font-family: $serif-fonts;
    }

    #search h3,
    div[role="presentation"] span,
    div[role="complementary"] h3,
    #footcnt span {
        font-family: $sans-fonts;
    }
}