// Fonts
$serif-fonts: 'Crimson Pro', 'Noto Serif SC', 'Source Han Serif SC', 'Microsoft YaHei UI', serif;
$sans-fonts: 'Lato', 'Noto Serif SC', 'Source Han Serif SC', 'Microsoft YaHei UI', sans-serif;
$narrow-fonts: 'Oswald', 'Noto Serif SC', 'Source Han Serif SC', 'Microsoft YaHei UI', serif;
$code-fonts: 'IBM Plex Mono', monospace;
